.bg-orange {
    background-color: #F4723D;
}

.text-orange {
    color: #F4723D;
}

.bg-danger-subtle {
    background: #f8d7da;
}

.icon-container {
    color: #F4723D;
    font-size: 30px;
}

.card-width {
    width: 20rem;
}